<h2 class="title">COMPANY PROFILE</h2>
<div class="contents row">
<div class="container">
<%= form_with model: @task_memo, url: tasks_path, local: true do |f| %>
<th>会社名</th>
  <p><%= @task_memo.title%></p>
<tr>
<th>会社URL欄</th>
<td>
  <p><%= raw Rinku.auto_link(@task_memo.url)%></p>
</td>
</tr>
<tr>
<div class="form-group">
<th>所在地</th>
<td>
  <p><%= @task_memo.region %></p>
</td>
</tr>
<tr>
<th>電話</th>
<td>
  <p><%= @task_memo.phone_number%></p>
</td>
</tr>
<tr>
<th>代表者名</th>
<td>
  <p><%= @task_memo.ceo%></p>
</td>
</tr>
<tr>
<th>記述</th>
<td>
  <p><%= @task_memo.content%></p>
</td>
</tr>
<tr>
<td>
</td>
</tr>
</div>
</table>

</div>

<% end %>